/* Header */
.header {
  top: 0;
  width: 100%;
}

/* Logo */
.logo {
  display: inline-block;
  color: var(--black);
  font-size: 50px;
  margin-left: 1rem;
}

/* Nav menu */
.nav {
  width: 70%;
  height: 100%;
  position: fixed;
  right: 0;
  background-color: var(--white);
  overflow: hidden;
}

.nav__Buttons {
  display: flex;
}

.menu a,
.menu p {
  display: block;
  padding: 30px;
  color: var(--grey);
}

.menu a:hover {
  background-color: var(--grey);
}

.nav {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

/* Sub nav */
.subnav-content {
  background-color: var(--white);
  width: 100%;
  z-index: 1;
  padding: 20px 0;
  display: none;
}
.subnav-content a {
  color: var(--black);
  text-decoration: none;
  padding: 0;
  margin: 10px 0;
  text-align: center;
}
.subnav:hover .subnav-content {
  display: block;
}

/* Menu Icon */

.hamb {
  cursor: pointer;
  float: right;
  padding: 25px;
}

.hamb-line {
  background: var(--black);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background: var(--grey);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

/* Responsiveness */

@media (min-width: 768px) {
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
  }

  .menu li {
    float: left;
  }

  .menu a:hover {
    background-color: transparent;
    color: var(--grey);
  }

  .hamb {
    display: none;
  }

  /* Sub nav */
  .subnav-content {
    padding: 20px 0;
    display: none;
    background-color: var(--white);
  }
  .subnav-content a {
    color: var(--grey);
  }
}
@media (max-width: 768px) {
  .nav__Buttons {
    flex-direction: column;
    align-items: center;
  }
  .nav__Register--Button {
    width: 200px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: transparent;
  }

  .nav__Login--Button {
    border: none;
  }
}
