.banner__Information--Section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding-top: 1.5rem;
}

.banner__Information--Section > h1{
    font-size: 40px;
}

.banner__Text--Section{
    padding: 1rem;
}

.banner__Button--Section{
    width: 150px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--black);
    color: var(--white);
    font-weight: bold;
    font-size: 18px;
}

.banner__Client--Section{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}

.banner__Client--Section > img{
    width: 70px;
    height: 25px;
}